rect.theme_1 {
  stroke-width: 1; 
  fill: hsla(60, 80%, 80%, 0.8);
  stroke: hsla(60, 80%, 30%, 0.8);
}
circle.theme_1 {
  fill: hsla(170, 100%, 70%, 0.3);
  stroke-width: 1;
  stroke: hsla(170, 100%, 30%, 0.8);
}
text.theme_1 {
  fill: hsl(60, 50%, 10%);
}

text.year {
  font-family: monospace;
  font-size: 16px;
}
text.desc {
  font-family: serif;
  font-size: 16px;
}

text.v_bar {
  fill: hsl(0, 0%, 30%);
}
line.v_bar {
  stroke-width: 2;
  stroke: hsl(180, 10%, 50%);
}
line.header {
  stroke-width: 2;
  stroke: hsl(330, 40%, 30%);
}
